:root {
  --main-color: #ec6090;
  --main-bg-color: #1f2122;
  --container-color: #27292a;
}

body {
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
